<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> welcome to the util analyzer enter your text below</h1>
    <form action = "/analyz" method = 'get'>
        <textarea name = 'text' style="width: 1079px; height: 118px;"></textarea> <br>
        <input type="checkbox"  name = 'removepunc'> remove punc<br>
        <input type="checkbox" name = 'uppercase'>  uppercase<br>
        <input type="checkbox" name = 'newlineremover'>  New Line remover<br>
        <input type="checkbox" name = 'extraspace'>  extra space remover<br>
        <button type = "submit"> Analayze The Text</button>
    </form> 
</body>
</html>